.search-bar-container {
  background-color: #FFE600;
  color: #333333;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  flex-direction: row; }
  .search-bar-container .input-search {
    display: flex;
    justify-content: center;
    align-items: center; }
    .search-bar-container .input-search .input-group span {
      cursor: pointer; }
    .search-bar-container .input-search .logo {
      content: url("../../assets/Logo_ML.png");
      margin-right: 10px;
      cursor: pointer; }
