.item-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 200px;    
    align-items: center;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #333333;
    cursor: pointer;
    p {
        margin: 0px;
        padding: 0px;
    }
    #foto {
        margin-right: 16px; 
        margin-left: 16px;  
        #thumbnail {
            width: 180px;
            height: 180px;
            border-radius: 4px;
        }     
    }
    .descricao {
        height: 100%;
        width: 50%;
        font-size: 18px;
        .preco {
            margin-bottom: 32px;
            font-size: 24px;
            margin-top: 15px;
        }  

    }   
    .cidade {
        height: 100%;
        font-size: 12px;        
        margin-top: 15px;
    }  
}